<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title> 
  </ion-navbar>
</ion-header>

<ion-content padding> 
  
  <!-- <button ion-button block (click)="on" -->
    <button ion-button block (click)="onSignup()">teste</button>
    <button ion-button block (click)="sair()">sair</button> 

    <!-- <button ion-item *ngFor="let item of usuarios">item</button>  -->

    <ion-list>
      <button ion-item *ngFor="let u of usuarios" (click)="onCreateChat(u)"> 
        {{u.name}} -- {{u.email}}


      </button>
    </ion-list>
</ion-content>
